body {
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
  margin: auto 0;
}
.weather-app {
  margin: 45px auto;
  max-width: 800px;

  padding: 2%;
  background-color: rgb(241, 244, 223);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
#dm-sans-RunBoyRun {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#title {
  font-size: 3em;
  font-weight: 500;
  text-shadow: solid 3px red;
  margin: auto;
  padding-bottom: 10px;
}
.form-control {
  display: inline-flex;
  max-width: 50%;
  padding: 10px;
  margin: 0;
  border: solid 1px rgb(17, 151, 147);
}

.searchButton {
  margin: 1em;
  width: 8em;
  padding: 9px;
  color: rgb(17, 151, 147);
  background: whitesmoke;
  border-radius: 10px;
  border: solid 1px whitesmoke;
  transition: ease-in-out;
  box-shadow: 0px 3px 3px 0px;
}
header {
  text-align: center;
}

.current-weather {
  display: flex;
  justify-content: space-around;
  padding: 0px 5%;
}

.current-temperature {
  display: flex;
  justify-content: space-around;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

#celcius {
  font-size: 40px;
}

.weather-icon {
  max-width: 90px;
  position: relative;
  top: -10px;
}

.current-elements {
  font-style: italic;
  color: rgb(80, 78, 78);
}

.describeElement {
  color: blue;
  font-weight: 500;
  font-style: normal;
}

.location {
  padding-top: 10px;
}

.current-date {
  font-style: oblique;
  font-size: 20px;
  margin: 0;
}

.forecast-title {
  font-size: 2rem;
  text-align: center;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
